@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
    background-color: #161616;
    font-family: Roboto Condensed, sans-serif;
    margin: 6rem 0;
}

@media only screen and (max-device-width: 768px) {
    body {    
        margin: 3rem 0 !important;
    }
}

h1, h2, h3, h4, h5, input, button, label {
    color: #FFFFFF;
    font-family: Roboto Condensed, sans-serif !important;   
}

textarea {
    color: #FFFFFF;
    resize: none;
    font-family: Consolas, monospace;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

textarea#ip {
    font-family: kovonic;
    font-size: 20px;
}

#glyph-table, #glyph-table th, #glyph-table td {
    border: 1px solid #DDD;
}

#glyph-table .empty-cell {
    background: #1E1E1E;
}

#glyph-table td {
    background: #1E1E1E;
    text-align: center;
    padding: 4px;
    font-size: 32px;
    line-height: 32px;
    cursor: pointer;
}

#glyph-table td:hover {
    background: #1E1E1E;
}

#glyph-table .vowel-cell, #glyph-table .consonant-cell {
    background: #1E1E1E;
}

#glyph-table .vowel-cell:hover, #glyph-table .consonant-cell:hover {
    background: #1E1E1E;
}

input[type="checkbox"] {
    margin-top: 12px;
}

input[type="checkbox"] + label {
    font-weight: normal;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}